body {
	background: url(bgc.jpg);
	padding: 0 10%;
}

div {
	background: white;
	padding: 3%;
}

h1 {
	text-align: center;
}

input, select, textarea {
	margin: 0 auto;
	display: block;
	width: 45%;
	padding: 2% 0;
	 border: #2ad48d 2px solid;
	border-radius: 10px;
	outline: none; 
}

legend {
	color: #2ad48d;
}

fieldset {
	border-color: #2ad48d;
}

input::placeholder {
	color: black;
}

label {
	color: #2ad48d;
}

#moss, #moss1, #moss2, #checkbox1, #checkbox2 {
	display: inline-block;
	width: 10px;
	margin: 3% 3% 3% 17%;
}

.moss {
	color: black;
}

#checkbox1, #checkbox2 {
	margin: 3% 3% 3% 5%;
}

button {
	background-color: #2ad48d;
	color: white;
	border: none;
	width: 45%;
	padding: 2% 0;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	outline: none;
}

button:hover {
	background-color: red;
}